.fullForm {
  display: flex;
  flex-direction: row;
}

.form-camp {
  border: 2px solid #d3d3d3;
  border-radius: 0.5em;
  margin-bottom: 1em;
  margin-left: 100px;
  margin-right: auto;
  margin-top: 100px;
  padding: 1em;
  text-align: left;
  width: 600px;
}

.form-element {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 45px;
}
.chkbox {
  width: 20px;
  height: 20px;
  position: relative;
  top: 15px;
}

.form-label {
  text-align: end;
}

.yup_error {
  color: rgb(255, 0, 0);
  font-size: 20px;
  position: relative;
  left: 265px;
}

.center-hori {
  display: block;
  margin: auto;
  color: #fff;
  background-color: #162840;
  border-radius: 5px;
  border: 2px solid #fff;
  width: 150px;
  height: 35px;
}
.center-hori:hover {
  background-color: #162840e2;
}

.center-hori:active {
  background-color: #162840;
  box-shadow: 0 2px rgb(90, 100, 209);
  transform: translateY(4px);
}

input[type="text"] {
  border: 2px solid #efefef;
  background-color: #efefef;
  border-radius: 5px;
  height: 35px;
  width: 500px;
  position: relative;
  top: 8px;
}
input[type="text"]:focus {
  background-color: #fff;
}
select {
  background-color: #efefef;
  border: 2px solid #efefef;
  border-radius: 5px;
  height: 35px;
  width: 300px;
  position: relative;
  top: 8px;
}

select:focus {
  background-color: #fff;
}

input {
  border: 2px solid #efefef;
  background-color: #efefef;
  border-radius: 5px;
  height: 35px;
  width: 500px;
  position: relative;
  top: 6px;
}
input:focus {
  background-color: #fff;
}
label {
  color: #162840;
  padding: 10px;
  font-size: 20px;
  font-family: "Inter";
}

.form-subtitle {
  color: #162840;
  position: relative;
  /* left: 50px; */
  font-size: 25px;
  font-family: "Inter";
}

.input-format {
  width: 300px;
  overflow: hidden;
}
