form {
  background-color: #c8a2c8;
  border: none;
  display: block;
  margin: auto;
  margin-top: 5rem;
  text-decoration: none;
  width: 50%;
  padding: 10px;
}

label {
  color: black;
  margin-right: 20px;
  font-size: 1.2rem;
}

.form-subtitle {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.3rem;
}
