
.form-section{
}

.form-camp {
  background-color:#C8A2C8;
  color: white;
  width: 50%;
  padding: 10px;
  margin: auto;
  margin-top: 30px;
}

.form-element{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}
.chkbox{
  width: 20px;
  height: 20px;
  align-self: center;
}

.form-label{
  text-align: end;
}

.yup_error{
  color:red;
}

.center-hori{
 display: block;
 margin: auto;
}